body {
  margin: 0;
  width: 100%;
  font-family: Futura, sans-serif;
  font-style: normal;
  background-color: #100c08;
}

html {
  scroll-behavior: smooth;
}

#navigation {
  position: fixed;
  width: 100%;
  background-color: #100c08;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  z-index: 3;
}

#navigation div {
  padding: 3%;
  font-weight: 650;
}

#navigation a {
  text-decoration: none;
  color: white;
}

#navElement {
  transition: 0.5s;
}

#navElement:hover {
  border-bottom: #d8384d 5px solid;
  padding-bottom: 15px;
  transition-duration: 0.5s;
}

#logo {
  position: relative;
  height: 85px;
  background-color: #d8384d;
}

#facebook {
  position: relative;
  margin: 10px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  cursor: pointer;
  transition: 1s;
}

#instagram {
  position: relative;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  border-color: transparent;
  cursor: pointer;
  transition: 1s;
  margin: 10px;
}

#facebook:hover {
  transition: 1s;
  background-color: #ed3e56;
}

#instagram:hover {
  transition: 1s;
  background-color: #ed3e56;
}

#facebookMobile {
  position: relative;
  height: 45px;
  background-color: transparent;
  /* border-radius: 20%; */
  cursor: pointer;
  transition: 1s;
  margin-bottom: 25px;
  margin-top: 25px;
}

#instagramMobile {
  position: relative;
  height: 45px;
  background-color: transparent;
  /* border-radius: 20%; */
  border-color: transparent;
  cursor: pointer;
  transition: 1s;
}

#mobileNav {
  display: none;
}

#sideMenu {
  display: none;
}

#menu {
  display: none;
}

@media (max-width: 800px) {
  #navigation {
    display: none;
  }

  #mobileNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #100c08;
  }

  #menubtn {
    height: 60px;
    margin-left: 25%;
    background-color: white;
    border-radius: 50%;
    padding: 1px;
  }

  #mobileLogo {
    height: 80px;
    background-color: #d8384d;
  }

  #menu {
    height: 100vh;
    width: 70vw;
    margin-left: -100%;
    background-color: #d8384d;
    display: flex;
    z-index: 3;
    position: absolute;
    flex-direction: column;
    text-align: center;
    position: fixed;
  }

  #menu a {
    margin: 5%;
    margin-top: 20%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
}

/* @media (max-width: 699px) {
  #mobileNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: rgb(97, 88, 88);
  }
} */

/****************************************************************/

#heroImage {
  position: relative;
  z-index: 1;
  padding-top: 5em;
  background-color: black;
  background-image: url(/HeroImageSmaller.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* #heroImage img {
  margin-top: 25px;
  width: 100%;
  opacity: 70%;
} */

#heroImageText {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: white;
  text-align: right;
  margin-bottom: 2%;
  z-index: 4;
}

#heroImageText h1 {
  font-size: 6.5vw;
  margin: 0;
  text-transform: uppercase;
  font-weight: 850;
}

#heroImageText h2 {
  font-size: 4.5vw;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}

#heroImageText h3 {
  font-size: 1.2vw;
  margin: 0;
}

#readMore {
  margin-top: 1em;
  background-color: #d8384d;
  border: solid 0.1em #d8384d;
  color: white;
  font-weight: 600;
  font-size: 1.8em;
  cursor: pointer;
}

#readMore:hover {
  color: rgb(226, 226, 226);
  background-color: #c53548;
  transition: 0.5s;
}

#contactMe {
  margin-top: 1em;
  background-color: transparent;
  border: solid 0.1em white;
  color: white;
  font-weight: 600;
  font-size: 1.8em;
  cursor: pointer;
}

#contactMe:hover {
  color: rgb(226, 226, 226);
  border-color: rgb(181, 181, 181);
  transition: 0.5s;
}

@media (max-width: 900px) {
  #heroImage {
    background-image: url(/heroImageMobile.jpg);
    background-position: center center;
  }
}

@media (max-width: 700px) {
  #heroImageText h1 {
    font-size: 14vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 850;
  }

  #heroImageText h2 {
    font-size: 6vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 750;
  }

  #heroImageText h3 {
    font-size: 3vw;
    margin: 0;
  }

  #heroImageText {
    margin-bottom: 10vh;
  }

  #heroImage {
    background-image: url(/heroImageMobile2.jpg);
    background-position: center center;
  }
}

@media (max-width: 1100px) {
  #heroImage {
    background-position: left;
  }
}

/****************************************************************/

#container {
  /* background-color: rgb(201, 201, 201); */
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#text {
  width: 450px;
  height: 450px;
  margin-right: 5%;
  margin-left: 20%;
  transition-duration: 1s;
  color: white;
}

#text:hover {
  margin-right: 10%;
  transition-duration: 1s;
  border-left: 10px solid #d8384d;
  padding-left: 25px;
}

#text h1 {
  font-size: 3.5em;
  font-weight: 800;
  text-transform: uppercase;
}

#text p {
  font-size: 1.2em;
  font-weight: 600;
}

#text h1,
p {
  width: 450px;
}

#image {
  margin-right: 15%;
}

#image img {
  width: 550px;
  margin-right: 5%;
  margin-top: 1%;
}

#priceButton {
  background: transparent;
  font-weight: 600;
  font-size: 1.2em;
  border-left: solid 3px #d8384d;
  border-bottom: solid 3px #d8384d;
  border-top: none;
  border-right: none;
  padding-right: 75px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  transition-duration: 1s;
  color: white;
  text-transform: uppercase;
}

#priceButton:hover {
  background-color: #d8384d;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #container {
    flex-direction: column-reverse;
    margin-top: 190px;
    margin-bottom: 190px;
    align-items: center;
  }

  #text {
    margin-right: 0;
    margin-left: 0;
  }

  #image {
    margin-right: 0;
  }

  #image img {
    margin-right: 0;
  }

  #text:hover {
    margin-bottom: 5%;
    margin-right: 0;
    margin-left: 0;
    transition-duration: 1s;
  }
}

@media (max-width: 700px) {
  #container {
    margin-top: 10vh;
  }

  #image img {
    width: 75vw;
  }

  #text {
    width: 75vw;
    height: 75vw;
    margin-left: 5%;
  }

  #text h1,
  p {
    width: 75vw;
  }

  #text h1 {
    font-size: 2.3em;
    font-weight: 800;
  }

  #text p {
    font-size: 1.2em;
    font-weight: 600;
  }
}

/****************************************************************/

#container2 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#text2 {
  width: 450px;
  height: 450px;
  margin-left: 5%;
  transition-duration: 1s;
  margin-top: 0;
  color: white;
}

#text2:hover {
  margin-bottom: 5%;
  transition-duration: 1s;
  border-right: 10px solid #d8384d;
  margin-left: 10%;
  padding-right: 25px;
}

#text2 h1 {
  font-size: 4em;
  font-weight: 800;
}

#text2 p {
  font-size: 1.2em;
  font-weight: 600;
}

#text2 h1,
p {
  width: 450px;
}

#image2 img {
  width: 550px;
  margin-top: 15%;
}

#priceButton2 {
  margin-top: 0.8em;
  background: transparent;
  font-weight: 600;
  font-size: 1.2em;
  border-left: solid 3px #d8384d;
  border-bottom: solid 3px #d8384d;
  border-top: none;
  border-right: none;
  padding-right: 75px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  transition-duration: 1s;
  color: white;
  text-transform: uppercase;
}

#priceButton2:hover {
  background-color: #d8384d;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

@media (max-width: 1100px) {
  #readMore {
    margin-top: 1em;
    background-color: #d8384d;
    border: solid 0.1em #d8384d;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
  }

  #readMore:hover {
    color: rgb(226, 226, 226);
    background-color: #c53548;
    transition: 0.5s;
  }

  #contactMe {
    margin-top: 1em;
    background-color: transparent;
    border: solid 0.1em white;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
  }

  #contactMe:hover {
    color: rgb(226, 226, 226);
    border-color: rgb(181, 181, 181);
    transition: 0.5s;
  }

  #container2 {
    flex-direction: column;
    margin-top: 350px;
    margin-bottom: 190px;
    align-items: center;
  }

  #text2 {
    margin-right: 0;
    margin-left: 0;
  }

  #image2 {
    margin-right: 0;
  }

  #image2 img {
    margin-right: 0;
  }

  #text2:hover {
    margin-bottom: 5%;
    margin-right: 0;
    margin-left: 0;
    transition-duration: 1s;
  }
}

@media (max-width: 700px) {
  #container2 {
    margin-top: 10vh;
  }

  #image2 img {
    width: 75vw;
  }

  #text2 {
    width: 75vw;
    height: 75vw;
    margin-left: 5%;
  }

  #text2 h1,
  p {
    width: 75vw;
  }

  #text2 h1 {
    font-size: 3em;
    font-weight: 800;
  }

  #text2 p {
    font-size: 1.2em;
    font-weight: 600;
  }

  #image2 {
    margin-right: 0;
  }

  #image2 img {
    margin-right: 0;
  }

  #text2:hover {
    margin-bottom: 5%;
    margin-left: 0;
    transition-duration: 1s;
  }
}

/****************************************************************/

#container3 {
  /* background-color: rgb(201, 201, 201); */
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#text3 {
  width: 450px;
  height: 450px;
  margin-right: 5%;
  margin-left: 20%;
  transition-duration: 1s;
  color: white;
}

#text3:hover {
  margin-right: 10%;
  transition-duration: 1s;
  border-left: 10px solid #d8384d;
  padding-left: 25px;
}

#text3 h1 {
  font-size: 4em;
  font-weight: 800;
}

#text3 p {
  font-size: 1.2em;
  font-weight: 600;
}

#text3 h1,
p {
  width: 450px;
}

#image3 {
  margin-right: 15%;
}

#priceButton3 {
  background: transparent;
  font-weight: 600;
  font-size: 1.2em;
  border-left: solid 3px #d8384d;
  border-bottom: solid 3px #d8384d;
  border-top: none;
  border-right: none;
  padding-right: 75px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  transition-duration: 1s;
  color: white;
  text-transform: uppercase;
}

#priceButton3:hover {
  background-color: #d8384d;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

#image3 img {
  width: 550px;
  margin-right: 5%;
  margin-top: 1%;
}

@media (max-width: 1100px) {
  #container3 {
    flex-direction: column-reverse;
    margin-top: 60vh;
    margin-bottom: 190px;
    align-items: center;
  }

  #text3 {
    margin-right: 0;
    margin-left: 0;
  }

  #image3 {
    margin-right: 0;
  }

  #image3 img {
    margin-right: 0;
  }

  #text3:hover {
    margin-bottom: 5%;
    margin-right: 0;
    transition-duration: 1s;
  }
}

@media (max-width: 700px) {
  #container3 {
    margin-top: 40vh;
  }

  #image3 img {
    width: 75vw;
  }

  #text3 {
    width: 75vw;
    height: 75vw;
    margin-left: 5%;
  }

  #text3 h1,
  p {
    width: 75vw;
  }

  #text3 h1 {
    font-size: 3em;
    font-weight: 800;
  }

  #text3 p {
    font-size: 1.2em;
    font-weight: 600;
  }

  #image3 {
    margin-right: 0;
  }

  #image3 img {
    margin-right: 0;
  }

  #text3:hover {
    margin-bottom: 5%;
    margin-right: 0;
    transition-duration: 1s;
  }
}

/****************************************************************/

#container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
  color: white;
}

#container4 div {
  margin: 5%;
  border: 5px white solid;
  padding: 30px;
  text-align: center;
}

#email h2 {
  font-size: 1em;
}

@media (max-width: 1100px) {
  #container4 {
    flex-direction: column;
  }
}
